body {
    text-align: center;
    justify-content: center;
    margin: 30px 30px 30px 30px;
    padding: 70px 0px 70px 0px;
    border: 1px solid #acb7c4;
    width: 50%;
    margin: 50px auto;
}
#theme{
    display: flex;
    justify-content: left;
    margin: 10px 10px 10px 10px;
}

h1{
    letter-spacing: 3px;
}

.blue{
    color: #487aaa;
    letter-spacing: 1.5px;
}

hr{
    margin-left: 20%;
    margin-right: 20%;
}

#topics{
    justify-content: center;
    text-align: left;
    width: 55%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
    line-height: 1.5;

}

.italics{
    font-style: italic;
}



img {
    width: 10%;
    height: auto;
}