body{
    text-align: center;
}
ul{
    list-style: none;
    text-align: right;
    word-spacing: 70px;
    padding: 0 2em;
}
.topics li{
    display: inline;
}
.topics a{
    text-decoration: none;
    color: rgb(189, 6, 61);
}
hr{
    border: 2px solid rgb(255, 211, 123);
}
h2{
    color: rgb(189, 6, 61);
}

#book-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.book-info{
    grid-column: 3;
}
.book-img{
    grid-column: 1/3;
}

@media(min-width:850px){
    #book-list{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }
    .book-info{
    grid-column: 1;

    }
    .book-img{
        grid-column: 2/3;
    }

    .line{
        transform: translateX(-19em) rotate(90deg) translateX(13em);
        width: 28%;
    }

}