body{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    margin-top: 80px;
    background-color: rgb(195, 220, 252);
    font-size: 20px;
    text-align: center;
}
header, main{
    padding: 70px;
    background-color: rgb(238, 251, 255);
    border-radius: 15px;
    margin: 10px;

}
main{
    width:70%;
}
button{
    background-color: rgb(195, 220, 252);
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 15px;
}
button:hover{
    background-color:rgb(149, 195, 255) ;
}
img{
    width: 40%;
    border-radius: 15px;
}
