/* I want to add the background color */

body {
    background-color: #b4bcc2;
    text-align: center;
    margin: 20px 20px 20px 20px;
    border: 1px solid #798087;
    padding: 40px 40px 40px 40px;

}

p {
    color: #265f93; 
    font-size: 20px;
}

hr {
    border: 2px solid #265f93;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
}


img {
    /* border: 20px solid #798087; */
    width: 20%;
    height: auto;
}


#topics {
    /* border: 20px solid #798087; */
    width: 20%;
    height: auto;
    justify-content: center;
    margin-left: auto; 
    margin-right: auto;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
}

li {
    font-size: 18px;
    margin-bottom: 10px;
}
