/* I want to add the background color */

body {
    background-color: #b4bcc2;
    text-align: center;
    border: 1px solid #798087;

}

p {
    color: #265f93; 
    font-size: 20px;
}

hr {
    border: 2px solid #265f93;
    display: block;
    margin-left: 200px;
    margin-right: 200px;
}

ul {
    list-style-type: none;
    text-align: left;
    display: inline-block;
}

li {
    font-size: 18px;
    margin-bottom: 10px;
}

