body{
    text-align: center;
}
ul{
    list-style: none;
    text-align: right;
    word-spacing: 70px;
    padding: 0 2em;
}
.topics li{
    display: inline;
}
.topics a{
    text-decoration: none;
    color: rgb(189, 6, 61);
}
hr{
    border: 2px solid rgb(255, 211, 123);
}
h2{
    color: rgb(189, 6, 61);
}

#book-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense; /* This tells the browser to go back and fill holes */
}
.book-info{
    grid-column: 3;
}
.book-img{
    grid-column: 1/3;
}

@media(min-width:850px){
    #book-list{
        display: grid;
        grid-template-columns: 1fr 4px 1fr .5fr;
        column-gap: 20px;
        min-height: 100vh;
    } 
    #book-list::before{
        content: "";
        grid-column: 2;      
        background-color: rgb(255, 211, 123);
        grid-row: 1 / -1;
    }

    .book-info{
        grid-column: 1;
        text-align: right;
    }

    .book-img{
        grid-column: 3;
    }
    .disapear{
        display: none;
    }


} 