body{
    padding: 200px 400px;
    height: 60vh;

}
#checkoutForm{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

.front{
    /* for it's div elements */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px 30px 30px 30px;

    /* this is for it's shape */
    grid-column: 1/3;
    grid-row: 1/3;
    width: auto;
    height: auto;
    background-color: rgb(177, 178, 178);
    border-radius: 20px;
    box-shadow: 5px 5px rgb(118, 117, 117);
    z-index: 1;
}
.back{
    /* for it's div elements */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;

    /* this is for it's shape */
    grid-column: 2/4;
    grid-row: 2/4;
    width: auto;
    height: auto;
    background-color: rgb(177, 178, 178);
    border-radius: 20px;
    box-shadow: 5px 5px rgb(118, 117, 117);
    z-index: 0;
    
}


input{
    width: 90%;
    height: 40%;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    border: 2px solid #848282; 
    border-radius: 4px;
}

#total{
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 15px;
}

#creditCardNumber{
    grid-column: 1/2;
    grid-row: 2/3;
} 

#creditCardHolder{
    grid-column: 1/2;
    grid-row: 3/4;
}

#creditCardEmoji{
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 60px;
    text-align: right;
}

#expiration, #expirationMM, #expirationYY{
    grid-column: 2/3;
    grid-row: 3/4;
}
#expirationMM, #expirationYY{
    width: 30%;
}
#expirationMM{
    margin-right: 70px;
}
#expirationYY{
    margin-left: 70px;
}

/* now for the back of the card */
#black{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: black;
    height: 50%;
}

#cvv{
    grid-column: 2/3;
    grid-row: 3/4;
}

/* and the button */
button{
    grid-column: 3/4;
    grid-row: 4/5;
    height: 30%;
    margin: 20px;
    border: 2px solid #848282; 
    border-radius: 4px;
    box-shadow: 3px 3px rgb(118, 117, 117);
}
button:hover{
    background-color: rgb(177, 178, 178);
    color: aliceblue;
}

.errors {
white-space: pre-line; 
color: red;
}
